{% extends 'base.html.twig' %}

{% block title %}Comptes bancaires{% endblock %}

{% block actions %}
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Créer opération">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">
            <i class="bi bi-plus"></i>
        </button>
    </div>
{% endblock %}

{% block body %}
    {# Modal de création d'opération #}
    {% embed 'modals/generic.html.twig' %}
        {% block modalId %}createModal{% endblock %}
        {% block modalHeader %}
            <h4 class="modal-title">Créer un compte bancaire</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% endblock %}
        {% block modalBody %}
            {{ form(newAccountForm) }}
        {% endblock %}
        {% block modalFooter %}
            <button type="button" class="btn btn-light" data-dismiss="modal">
                <i class="bi bi-arrow-left"></i> Retour
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}