{% extends 'base.html.twig' %}

{% block title %}Opérations mensuelles / Édition{% endblock %}

{% block actions %}
    <a
        class="btn btn-light"
        href="{{ path('monthly_transaction_list', {'account': monthlyTransaction.account.id}) }}"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Retour vers Opérations mensuelles"
    >
        <i class="bi bi-arrow-left"></i>
    </a>
{% endblock %}

{% block body %}
    <div class="col-12 col-md-6 mx-auto">
        {% form_theme monthlyTransactionForm 'form/bootstrap_4_horizontal_layout.html.twig' %}
        {{ form(monthlyTransactionForm) }}
    </div>
{% endblock %}