{% extends 'base.html.twig' %}

{% block title %}Utilisateurs / Édition{% endblock %}

{% block actions %}
    {% if is_granted('ROLE_ADMIN') %}
        {# NOOOOOON, RIEN DE RIEEEEEEEEEN #}
        {% set editPath = path('user_edit_admin', {'id': user.id}) %}
    {% else %}
        {# NOOOOOON, JE NE REGRETTE RIEEEEEEEEEN #}
        {% set editPath = path('user_edit') %}
    {% endif %}
    <a
        class="btn btn-light"
        href="{{ editPath }}"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Retour vers édition d'utilisateur"
    >
        <i class="bi bi-arrow-left"></i>
    </a>
{% endblock %}

{% block body %}
    {% form_theme passwordForm 'form/bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(passwordForm) }}
{% endblock %}