{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block actions %}
    <a
        class="btn btn-success"
        href="{{ path('user_create') }}"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Créer utilisateur"
    >
        <i class="bi bi-plus"></i>
    </a>
{% endblock %}

{% block body %}
    {% embed 'pager.html.twig' %}{% endembed %}
    <div class="col-12 table-responsive">
        <table class="table table-striped table-hover w-auto mx-auto">
            <thead class="thead-light">
                <tr>
                    <th>Nom</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
            {# @var \App\Entity\User user #}
                <tr>
                    <td>
                        <a href="{{ path('user_edit_admin', {'id': user.id}) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Administrateur
                    {% else %}
                        Utilisateur
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% embed 'pager.html.twig' %}{% endembed %}
{% endblock %}